.button {
    height: 30px;
    width: 50px;
    background-color: white;
    color: beige;
    /* border-color: black; */
}

.button a {
    text-decoration: none;
}

input:focus {
    outline-width: 0;
}

.form-submit {
    margin-top: 10px;
}

.form-text {
    border-bottom-color:royalblue;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    color: green;
    /* background-color: black; */
}